@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap);
@charset "UTF-8";
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
.select__value:before, [class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arrow:before {
  content: "\e900";
}

._icon-access_time:before {
  content: "\e901";
}

._icon-decor_title:before {
  content: "\e902";
}

._icon-email:before {
  content: "\e903";
}

._icon-facebook:before {
  content: "\e904";
}

._icon-instagram:before {
  content: "\e905";
}

._icon-phone:before {
  content: "\e906";
}

._icon-place:before {
  content: "\e907";
  align-self: start;
}

._icon-search:before {
  content: "\e908";
}

._icon-shopping_cart:before {
  content: "\e909";
}

._icon-smartphone:before {
  content: "\e90a";
}

._icon-timer:before {
  content: "\e90b";
}

._icon-twitter:before {
  content: "\e90c";
}

._icon-youtube:before {
  content: "\e90d";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #4b4b4b;
  line-height: 1;
  font-family: "Roboto";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #f5f5f5;
}
.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 63.75rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.select {
  position: relative;
}
.select__body {
  position: relative;
}
.select__title {
  color: inherit;
  text-align: left;
  border: none;
  background-color: #fff;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
}
.select__value {
  display: flex;
  align-items: center;
  height: 30px;
  justify-content: space-between;
  flex-direction: row-reverse;
  color: #000;
  text-align: center;
  letter-spacing: 0.15px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.57;
  transition: color 0.3s ease 0s;
  position: relative;
}
@media (any-hover: hover) {
  .select__value:hover {
    color: #f2726f;
  }
}
@media (max-width: 47.99875em) {
  .select__value {
    font-size: 2.1875rem;
  }
}
.select__value:before {
  content: "\e900";
  font-size: 0.875rem;
  color: #f2726f;
  align-self: stretch;
  flex: 0 0 10px;
  transition: all 0.3s ease 0s;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}
._select-open .select__value:before {
  transform: rotate(-180deg);
}
.select__text {
  flex: 1 1 auto;
}
.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}
.select__options {
  letter-spacing: 0.15px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.57;
  color: #000;
  position: absolute;
  top: 40px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0px;
  background-color: #fff;
  border-top: 0;
  box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.24), 0px 16px 24px rgba(38, 38, 38, 0.2);
  border-top: 0;
  padding: 10px 0px 5px 0px;
}
@media (max-width: 47.99875em) {
  .select__options {
    font-size: 2.1875rem;
  }
}
.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
}
.select__option {
  width: 100%;
  display: block;
  text-align: left;
  cursor: pointer;
  padding: 5px 15px;
  color: inherit;
}
.select__option._select-selected {
  background-color: #eee;
}
@media (any-hover: hover) {
  .select__option:hover {
    background: #d9d9d92d;
  }
}
.select__row {
  display: inline-flex;
  align-items: center;
}
.select._select-open {
  z-index: 5;
}
._select-tag {
  cursor: pointer;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

body.popup-show::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  transform: scale(1);
}

.popup__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  transform: scale(0);
  transition: transform 0.3s ease 0s;
  padding: 20px;
  width: 100%;
  max-width: 600px;
}
.lock .popup__content {
  visibility: visible;
}

.form-popup {
  background-color: #5d62b5;
  border-radius: 20px;
  padding: 10% 8%;
}
.form-popup__body {
  width: 100%;
  text-align: center;
  display: grid;
}
.form-popup__close {
  width: 30px;
  height: 30px;
  font-size: 0rem;
  justify-self: end;
  position: relative;
  top: -30px;
}
.form-popup__close::after, .form-popup__close::before {
  content: "";
  position: absolute;
  top: 0;
  right: 11px;
  height: 35px;
  width: 2px;
  background-color: #fff;
}
.form-popup__close::after {
  transform: rotate(45deg);
}
.form-popup__close::before {
  transform: rotate(-45deg);
}
.form-popup__title {
  font-weight: 900;
  line-height: 1.16;
  color: #fff;
}
@media (min-width: 65.625em) {
  .form-popup__title {
    font-size: 2.25rem;
  }
}
@media (min-width: 20em) and (max-width: 65.625em) {
  .form-popup__title {
    font-size: clamp( 1.5rem , 1.1712328767rem  +  1.6438356164vw , 2.25rem );
  }
}
@media (max-width: 20em) {
  .form-popup__title {
    font-size: 1.5rem;
  }
}
.form-popup__title:not(:last-child) {
  margin: 0px 0px 40px 0px;
}
.form-popup__items {
  display: grid;
  gap: 20px;
}
.form-popup__items:not(:last-child) {
  margin: 0px 0px 20px 0px;
}
.form-popup__input {
  width: 100%;
  padding: 16px 17px;
  background-color: #5d62b5;
  border: 2px solid #ffffff;
  border-radius: 10px;
  color: #fff;
}
.form-popup__input._form-focus {
  border: 2px solid #f2726f;
  outline: none;
  box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.562), 0px 16px 24px rgba(38, 38, 38, 0.2);
}
.form-popup__input::placeholder {
  color: rgba(255, 255, 255, 0.801);
}
.form-popup__textarea {
  min-height: 180px;
  padding: 16px 24px;
  background-color: #5d62b5;
  border: 2px solid #ffffff;
  border-radius: 10px;
  resize: none;
  color: #fff;
}
.form-popup__textarea._form-focus {
  border: 2px solid #f2726f;
  outline: none;
  box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.562), 0px 16px 24px rgba(38, 38, 38, 0.2);
}
.form-popup__textarea::placeholder {
  color: rgba(255, 255, 255, 0.801);
}
.form-popup__textarea:not(:last-child) {
  margin: 0px 0px 30px 0px;
}
.form-popup__btn {
  justify-self: end;
}

.tabs__navigation {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
}
@media (max-width: 61.99875em) {
  .tabs__navigation {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
  }
}
@media (max-width: 47.99875em) {
  .tabs__navigation {
    grid-template-columns: none;
    row-gap: 10px;
  }
}
.tabs__navigation::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.151);
}
@media (max-width: 61.99875em) {
  .tabs__navigation::after {
    display: none;
  }
}
.tabs__title {
  color: #fff;
  letter-spacing: 0.15px;
  font-weight: 700;
  line-height: 1.5;
  padding: 0px 0px 17px 0px;
  position: relative;
}
.tabs__title:focus::after {
  content: "";
  display: block;
  width: 80%;
  text-align: center;
  background: #fff;
  height: 5px;
  position: absolute;
  bottom: -2px;
  left: 20px;
}
@media (max-width: 61.99875em) {
  .tabs__title:focus::after {
    width: 100%;
    left: 0;
  }
}
.tabs__img-ibg {
  transform: translate(0, 50px);
  padding: 0px 0px 50.19% 0px;
}
@media (max-width: 47.99875em) {
  .tabs__img-ibg {
    margin: 20px 0px 0px 0px;
    transform: translate(0, 0);
  }
}
.tabs__img-ibg img {
  border-radius: 40px;
  box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.24), 0px 16px 24px rgba(38, 38, 38, 0.2);
}
@media (max-width: 47.99875em) {
  .tabs__img-ibg img {
    border-radius: 20px;
  }
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.button {
  text-align: center;
  letter-spacing: 0.15px;
  text-transform: uppercase;
  border-radius: 2px;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  background-color: #fff;
  background: #f2726f;
  border-radius: 8px;
  line-height: 2;
  padding: 9px 35px;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .button:hover {
    background: #da4c4a;
    box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.24), 0px 16px 24px rgba(38, 38, 38, 0.2);
  }
}

.block-header__sub-title {
  color: #5d62b5;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  display: flex;
  align-items: center;
}
.block-header__sub-title::before {
  color: #5d62b5;
  font-size: 1.5625rem;
}
@media (min-width: 65.625em) {
  .block-header__sub-title:not(:last-child) {
    margin-bottom: 2.0625rem;
  }
}
@media (min-width: 20em) and (max-width: 65.625em) {
  .block-header__sub-title:not(:last-child) {
    margin-bottom: clamp( 1.25rem , 0.8938356164rem  +  1.7808219178vw , 2.0625rem );
  }
}
@media (max-width: 20em) {
  .block-header__sub-title:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
.block-header__sub-title_white {
  color: #f5f5f5;
}
.block-header__sub-title_white::before {
  color: #fff;
}
.block-header__title {
  color: #000;
  font-weight: 900;
  font-size: 36px;
  line-height: 1.16;
  transform: translate(0, 70%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
@media (min-width: 65.625em) {
  .block-header__title {
    font-size: 2.25rem;
  }
}
@media (min-width: 20em) and (max-width: 65.625em) {
  .block-header__title {
    font-size: clamp( 1.5rem , 1.1712328767rem  +  1.6438356164vw , 2.25rem );
  }
}
@media (max-width: 20em) {
  .block-header__title {
    font-size: 1.5rem;
  }
}
.block-header__title._active {
  transform: translate(0, 0);
  opacity: 1;
}
.block-header__title_white {
  color: #ffffff;
}

.header {
  position: relative;
}
.header__container {
  padding: 0px 15px;
}
.header__top {
  position: relative;
  z-index: 10;
  display: flex;
  height: 128px;
  align-items: center;
}
@media (max-width: 47.99875em) {
  .header__top {
    flex-direction: column;
  }
}
.header__logo {
  padding: 0px 0px 0px 10px;
  flex: 1 1 auto;
}
@media (max-width: 23.75em) {
  .header__logo img {
    width: 70%;
  }
}
@media (max-width: 47.99875em) {
  .header__logo {
    align-self: flex-start;
    padding-top: 20px;
  }
}
.header__info {
  font-weight: 700;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.15px;
  color: #fff;
}
.header__title {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 12.3529411765% 0px 30.5882352941% 0px;
}
.header__title h1 {
  max-width: 583px;
  font-weight: 900;
  line-height: 1;
  color: #fff;
  transform: translate(0, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
@media (min-width: 65.625em) {
  .header__title h1 {
    font-size: 3.5rem;
  }
}
@media (min-width: 20em) and (max-width: 65.625em) {
  .header__title h1 {
    font-size: clamp( 1.875rem , 1.1626712329rem  +  3.5616438356vw , 3.5rem );
  }
}
@media (max-width: 20em) {
  .header__title h1 {
    font-size: 1.875rem;
  }
}
.header__title h1._active {
  transform: translate(0, 0);
  opacity: 1;
}
@media (max-width: 47.99875em) {
  .header__title h1 {
    align-self: center;
    text-align: center;
  }
}
.header__title h1:not(:last-child) {
  margin: 0px 0px 3rem 0px;
}
.header__btn {
  align-self: flex-start;
  padding: 17px 35px;
  transform: translate(0, 120%);
  opacity: 0;
  transition: all 0.8s ease 0.3s;
}
@media (max-width: 47.99875em) {
  .header__btn {
    align-self: center;
  }
}
.header__btn._active {
  transform: translate(0, 0);
  opacity: 1;
}
.header__bg-ibg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.header__bg-ibg img {
  object-position: right;
}

.block-info-header {
  display: flex;
  align-items: center;
}
@media (max-width: 61.99875em) {
  .block-info-header {
    align-self: flex-end;
  }
}
@media (max-width: 37.5em) {
  .block-info-header {
    display: none;
  }
}
.block-info-header > *:not(:last-child) {
  margin: 0px 30px 0px 0px;
}
.block-info-header__time-work {
  display: flex;
  max-width: 206px;
}
.block-info-header__time-work::before {
  color: #f2726f;
  margin: 0px 10px 0px 0px;
  font-size: 1.5rem;
}
.block-info-header__tel {
  display: flex;
  max-width: 131px;
}
.block-info-header__tel::before {
  color: #f2726f;
  margin: 0px 10px 0px 0px;
  font-size: 1.5rem;
}
@media (max-width: 61.99875em) {
  .block-info-header__btn {
    display: none;
  }
}

.menu {
  padding: 18px 3.92%;
  border-radius: 10px;
  position: relative;
  z-index: 10;
}
@media (max-width: 61.99875em) {
  .menu {
    border-radius: 10px;
    position: fixed;
    top: 0px;
    right: 0px;
    padding: 15px 10px 15px 10px;
  }
}
@media (min-width: 61.99875em) {
  .menu__body {
    display: flex;
    background-color: #fff;
    border-radius: 5px;
    padding: 0px 15px;
  }
}
.menu__list {
  display: flex;
  flex: 0 1 50%;
  row-gap: 30px;
  align-items: center;
}
.menu__list:not(:last-child) {
  margin: 0px 24px 0px 0px;
}
.menu__list::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0;
  right: -100%;
  background-color: #5d62b5;
  z-index: -1;
  transition: right 0.3s ease 0s;
  background-color: #5d62b5;
}
.menu-open .menu__list::before {
  right: 0;
}
@media (max-width: 61.99875em) {
  .menu__list {
    padding: 11.25rem 0px 0px 40px;
    overflow: auto;
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    background-color: #fff;
    transition: left 0.3s ease 0s;
  }
  .menu-open .menu__list {
    left: 0;
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 65.625em) {
  .menu__item:not(:last-child) {
    padding-right: 1.6875rem;
  }
}
@media (min-width: 20em) and (max-width: 65.625em) {
  .menu__item:not(:last-child) {
    padding-right: clamp( 1.25rem , 1.0582191781rem  +  0.9589041096vw , 1.6875rem );
  }
}
@media (max-width: 20em) {
  .menu__item:not(:last-child) {
    padding-right: 1.25rem;
  }
}
.menu__link {
  color: #000;
  text-align: center;
  letter-spacing: 0.15px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.57;
  transition: color 0.3s ease 0s;
}
@media (max-width: 61.99875em) {
  .menu__link {
    font-size: 2.1875rem;
  }
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: #f2726f;
  }
}
.menu__form-serch {
  display: flex;
  justify-content: flex-end;
  transition: width 0.3s ease 0s;
}
@media (max-width: 61.99875em) {
  .menu__form-serch {
    width: 1px;
    width: 0%;
  }
  .menu__form-serch.active {
    width: 100%;
  }
}
@media (min-width: 61.99875em) {
  .menu__form-serch {
    width: 100%;
  }
}
.menu__input {
  width: 1px;
  width: 0%;
  transition: width 0.3s ease 0s;
}
@media (min-width: 61.99875em) {
  .menu__input {
    width: 100%;
  }
}
.menu__input.active {
  width: 100%;
  width: 6.25rem;
  padding: 5px 10px;
}
.menu__search-btn {
  position: relative;
  z-index: 10;
  font-size: 1.5rem;
  color: #000;
}
.menu__search-btn:not(:last-child) {
  margin: 0px 15px 0px 0px;
}
.menu-open .menu__search-btn {
  display: none;
}
.menu__serach-block {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 15px;
  width: 100px;
  border-radius: 5px;
  transition: width 0.3s ease 0s;
}
@media (min-width: 61.99875em) {
  .menu__serach-block {
    width: 100%;
  }
}
.menu__serach-block.active {
  width: 100%;
  width: 12.5rem;
}
.menu-open .menu__serach-block {
  background-color: #5d62b5;
}
@media (min-width: 61.99875em) {
  .menu__serach-block {
    flex: 0 1 50%;
    display: flex;
    justify-content: flex-end;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 61.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    z-index: 10;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 30px;
    height: 2px;
    z-index: 100;
    background-color: #000;
  }
  .menu-open .icon-menu span, .menu-open .icon-menu::before, .menu-open .icon-menu::after {
    background-color: #fff;
  }
  .icon-menu::before {
    top: 0px;
  }
  .icon-menu::after {
    bottom: 0px;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu span {
    transform: scale(0);
  }
  .menu-open .icon-menu::before {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu::after {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

.footer__body {
  margin: 7.0476190476% 0px 9.3333333333% 0px;
}

.row-top {
  position: relative;
  z-index: 2;
  margin: -73px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5d62b5;
  border-radius: 20px;
  padding: 4.0952380952% 7.1428571429%;
}
@media (max-width: 47.99875em) {
  .row-top {
    flex-direction: column;
    row-gap: 20px;
    text-align: center;
  }
}
.row-top__title {
  max-width: 562px;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.25;
  color: #fff;
  padding: 0px 20px 0px 0px;
}
.row-top__btn {
  flex: 0 0 auto;
}
.row-top__btn a {
  display: inline-block;
}

.item-footer__columns {
  display: flex;
}
@media (max-width: 47.99875em) {
  .item-footer__columns {
    flex-direction: column;
    align-items: flex-start;
  }
}
.item-footer__column {
  padding: 0px 30px 0px 0px;
  flex: 0 1 33.333%;
}
@media (max-width: 47.99875em) {
  .item-footer__column {
    width: 100%;
  }
}
.item-footer__column:not(:last-child) {
  margin: 0px 0px 20px 0px;
}

.info-block__body {
  max-width: 235px;
}
@media (max-width: 47.99875em) {
  .info-block__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: none;
  }
}
.info-block__logo {
  display: block;
}
.info-block__logo:not(:last-child) {
  margin: 0px 0px 23px 0px;
}
.info-block__text {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.15px;
}
.info-block__text:not(:last-child) {
  margin: 0px 0px 33px 0px;
}
.social-item {
  display: flex;
}
.social-item__link {
  color: #f2726f;
}
@media (max-width: 47.99875em) {
  .social-item__link {
    font-size: 1.875rem;
  }
}
.social-item__link:not(:last-child) {
  margin: 0px 18px 0px 0px;
}

.menu-footer__title {
  text-align: left;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.15px;
  position: relative;
}
.menu-footer__title:not(:last-child) {
  margin: 0px 0px 28px 0px;
}
@media (max-width: 47.99875em) {
  .menu-footer__title {
    font-size: 1.4375rem;
  }
}
._spoller-init .menu-footer__title {
  cursor: pointer;
}
._spoller-init .menu-footer__title::before, ._spoller-init .menu-footer__title::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 15px;
  background-color: #f2726f;
  height: 2px;
  width: 15px;
  transition: transform 0.5s ease 0s;
}
._spoller-init .menu-footer__title::before {
  transform: translate(-75%, -50%) rotate(40deg);
}
._spoller-init .menu-footer__title::after {
  transform: translate(0, -50%) rotate(-40deg);
}
._spoller-init .menu-footer__title._spoller-active::before {
  transform: translateX(-75%) rotate(-40deg);
}
._spoller-init .menu-footer__title._spoller-active::after {
  transform: rotate(40deg);
}
.menu-footer__lists {
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 47.99875em) {
  .menu-footer__lists {
    border-top: 2px solid #5d62b5;
    border-bottom: 2px solid #5d62b5;
  }
}
.menu-footer__list {
  flex: 1 1 50%;
}
.menu-footer__item:not(:last-child) {
  margin: 0px 0px 11px 0px;
}
.menu-footer__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.15px;
}
@media (any-hover: hover) {
  .menu-footer__link:hover {
    padding: 0px 0px 3px 0px;
    border-bottom: 2px solid #4b4b4b;
  }
}
@media (max-width: 47.99875em) {
  .menu-footer__link {
    font-size: 1.25rem;
  }
}

.contacnt {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.15px;
  position: relative;
}
.contacnt__body {
  max-width: 237px;
}
@media (max-width: 47.99875em) {
  .contacnt__body {
    max-width: none;
  }
}
.contacnt__title {
  font-weight: 700;
  width: 100%;
  text-align: left;
}
@media (max-width: 47.99875em) {
  .contacnt__title {
    font-size: 1.4375rem;
  }
}
.contacnt__title:not(:last-child) {
  margin: 0px 0px 28px 0px;
}
._spoller-init .contacnt__title {
  cursor: pointer;
}
._spoller-init .contacnt__title::before, ._spoller-init .contacnt__title::after {
  content: "";
  position: absolute;
  right: 38px;
  top: 15px;
  background-color: #f2726f;
  height: 2px;
  width: 15px;
  transition: transform 0.5s ease 0s;
}
._spoller-init .contacnt__title::before {
  transform: translate(-75%, -50%) rotate(40deg);
}
._spoller-init .contacnt__title::after {
  transform: translate(0, -50%) rotate(-40deg);
}
._spoller-init .contacnt__title._spoller-active::before {
  transform: translateX(-75%) rotate(-40deg);
}
._spoller-init .contacnt__title._spoller-active::after {
  transform: rotate(40deg);
}
.contacnt__list {
  padding: 10px 0px;
}
@media (max-width: 47.99875em) {
  .contacnt__list {
    border-top: 2px solid #5d62b5;
    border-bottom: 2px solid #5d62b5;
  }
}
.contacnt__item {
  display: flex;
  align-items: center;
}
.contacnt__item:not(:last-child) {
  margin: 0px 0px 16px 0px;
}
.contacnt__item::before {
  color: #f2726f;
  padding: 0px 10px 0px 0px;
}
@media (max-width: 47.99875em) {
  .contacnt__item {
    font-size: 1.25rem;
  }
}

.row-bottom {
  background-color: #5d62b5;
}
.row-bottom__container {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.15px;
  color: #fff;
  min-height: 60px;
  text-align: center;
}
@media (max-width: 47.99875em) {
  .row-bottom__container {
    flex-direction: column;
    padding: 10px 0px;
    min-height: 40px;
  }
}
.row-bottom__text {
  align-self: center;
}
.row-bottom__copy {
  align-self: center;
  font-weight: 700;
}
.row-bottom__copy span {
  font-weight: 400;
  padding: 0px 5px 0px 0px;
}

.page__who-we-are {
  position: relative;
  z-index: 5;
  margin: -7.54% 0px 10.78% 0px;
}
.page__promise {
  margin: 0px 0px 11.5238095238% 0px;
}
.page__services {
  padding: 11.5238095238% 0px 11.2380952381% 0px;
}
.page__gallery {
  position: relative;
  z-index: 3;
  margin-top: -3.54%;
  padding: 0px 0px 0px 0px;
}
@media (max-width: 61.99875em) {
  .page__gallery {
    margin-top: 3.54%;
  }
}
.page__customers {
  padding: 120px 0px 210px 0px;
}
.who-we-are__body {
  padding: 9.7058823529% 8.5294117647% 0px;
  background-color: #5d62b5;
  border-radius: 40px;
  position: relative;
}
.who-we-are__body::before {
  content: "";
  display: block;
  height: 317px;
  width: 201px;
  background: url("../img/whoweare/decor.png") 0 0 no-repeat;
  position: absolute;
  top: -100px;
  right: -100px;
}
@media (max-width: 47.99875em) {
  .who-we-are__body::before {
    background: none;
  }
}
.who-we-are__body::after {
  content: "";
  background: url("../img/whoweare/decor2.png") 0 0 no-repeat;
  width: 514px;
  height: 371px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 40px;
}
@media (max-width: 61.99875em) {
  .who-we-are__body::after {
    background: none;
  }
}
.who-we-are__header {
  max-width: 583px;
}
@media (min-width: 65.625em) {
  .who-we-are__header:not(:last-child) {
    margin-bottom: 2.3125rem;
  }
}
@media (min-width: 20em) and (max-width: 65.625em) {
  .who-we-are__header:not(:last-child) {
    margin-bottom: clamp( 1.25rem , 0.7842465753rem  +  2.3287671233vw , 2.3125rem );
  }
}
@media (max-width: 20em) {
  .who-we-are__header:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
.who-we-are__text {
  color: #f5f5f5;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.15px;
}
.who-we-are__img-ibg {
  padding: 0px 0px 49.64% 0px;
  z-index: 2;
  transform: translate(0, 20%);
}
.who-we-are__img-ibg img {
  border-radius: 40px;
  box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.24), 0px 16px 24px rgba(38, 38, 38, 0.2);
}

.promise__header:not(:last-child) {
  margin: 0px 0px 68px 0px;
}
.promise__items {
  margin: 0px -14px;
}

.block-item {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  align-items: flex-start;
}
.block-item__column {
  display: flex;
  flex: 0 1 33.3333%;
  padding: 0px 14px;
}
@media (max-width: 47.99875em) {
  .block-item__column {
    flex: 1 1 50%;
  }
}
@media (max-width: 34.375em) {
  .block-item__column {
    flex: 1 0 100%;
  }
}
.block-item__img:not(:last-child) {
  margin: 0px 23px 0px 0px;
}
.block-item__title {
  font-weight: 900;
  font-size: 19px;
  line-height: 1.36;
  color: #f2726f;
}
.block-item__title:not(:last-child) {
  margin: 0px 0px 20px 0px;
}
.block-item__text {
  line-height: 1.5;
  letter-spacing: 0.15px;
}

.tenis {
  background: url("../img/tenis/decor2.png") no-repeat, url("../img/tenis/tennisBall.png") no-repeat, url("../img/tenis/decor3.png") no-repeat, url("../img/tenis/decor.svg") left 0 no-repeat, #29c3be;
  background-position: left -150px top -100px, right 10px top 160px, left -50px top 120px, right 100px top 0px;
}
@media (max-width: 78em) {
  .tenis {
    background-position: left -150px top -100px, right 10px top 200px, left -50px top 120px, right 100px top 30px;
  }
}
@media (max-width: 57.5em) {
  .tenis {
    background: url("../img/tenis/decor2.png") no-repeat, url("../img/tenis/decor3.png") no-repeat, #29c3be;
    background-position: left -150px top -100px, left -50px top 120px;
  }
}
@media (max-width: 47.99875em) {
  .tenis {
    background-position: left -170px top -100px, left -100px top 120px;
  }
}
.tenis__container {
  display: flex;
}
@media (max-width: 57.5em) {
  .tenis__container {
    flex-direction: column-reverse;
  }
}
.tenis__img {
  align-self: flex-end;
  margin-left: -28%;
}
@media (max-width: 47.99875em) {
  .tenis__img {
    margin: 0px 20px;
  }
}
.tenis__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tenis__title {
  flex: 0 1 50%;
  max-width: 411px;
  padding: 114px 0px 0px 15px;
  margin-left: auto;
}
@media (max-width: 47.99875em) {
  .tenis__title {
    align-self: flex-start;
    padding: 30px 0px;
    margin-left: 0;
  }
}

.block-logo__title {
  font-weight: 900;
  line-height: 1.16;
  color: #ffffff;
  transform: translate(0, 40%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
@media (min-width: 65.625em) {
  .block-logo__title {
    font-size: 2.25rem;
  }
}
@media (min-width: 20em) and (max-width: 65.625em) {
  .block-logo__title {
    font-size: clamp( 1.625rem , 1.3510273973rem  +  1.3698630137vw , 2.25rem );
  }
}
@media (max-width: 20em) {
  .block-logo__title {
    font-size: 1.625rem;
  }
}
.block-logo__title._active {
  transform: translate(0, 0);
  opacity: 1;
}
.block-logo__title:not(:last-child) {
  margin: 0px 0px 10.9489051095% 0px;
}
.block-logo__btn {
  transform: translate(0, 40%);
  opacity: 0;
  transition: all 0.4s ease 0.4s;
  display: inline-block;
}
.block-logo__btn._active {
  transform: translate(0, 0);
  opacity: 1;
}

.services {
  position: relative;
  background: url("../img/service/decor1.png") no-repeat;
  background-position: right -400px top -400px;
}
@media (max-width: 47.99875em) {
  .services {
    background: none;
  }
}
.services__container {
  position: relative;
  z-index: 2;
}
.services__header:not(:last-child) {
  margin: 0px 0px 7.4285714286% 0px;
}
.services__items {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30;
  margin: 0px -12px;
}

.item-block__section {
  flex: 0 1 33.333%;
  padding: 0px 12px;
  transition: all 0.3s ease 0s;
}
@media (max-width: 58.125em) {
  .item-block__section {
    flex: 0 1 50%;
  }
}
@media (max-width: 47.99875em) {
  .item-block__section {
    flex: 1 1 100%;
  }
}
@media (any-hover: hover) {
  .item-block__section:hover {
    transform: scale(1.1);
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.24), 0px 16px 24px rgba(38, 38, 38, 0.2);
  }
}
.item-block__card {
  padding: 15.4320987654% 13.5802469136%;
  text-align: center;
}
.item-block__img:not(:last-child) {
  margin: 0px 0px 33px 0px;
}
.item-block__title {
  font-weight: 900;
  font-size: 19px;
  line-height: 1.36;
  color: #f2726f;
}
.item-block__title:not(:last-child) {
  margin: 0px 0px 20px 0px;
}
.item-block__text {
  letter-spacing: 0.15px;
  line-height: 1.5;
}

.appointment {
  position: relative;
}
.appointment__container {
  display: flex;
}
@media (max-width: 61.99875em) {
  .appointment__container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
}
.appointment__column-form {
  position: relative;
  flex: 0 1 57.71%;
  padding: 12.380952381% 0px 20% 0px;
}
.appointment__column-form::before, .appointment__column-form::after {
  content: "";
  position: absolute;
  width: 105%;
}
.appointment__column-form::before {
  background: url("../img/appointment/decor1.png") 0 0 no-repeat;
  top: -15px;
  left: -200px;
  height: 95%;
  z-index: 2;
}
@media (max-width: 47.99875em) {
  .appointment__column-form::before {
    background: none;
  }
}
.appointment__column-form::after {
  background: url("../img/appointment/decor2.png") 0 0 no-repeat;
  bottom: -250px;
  height: 100%;
  left: -115px;
  z-index: 1;
}
@media (max-width: 47.99875em) {
  .appointment__column-form::after {
    background: none;
  }
}
@media (max-width: 61.99875em) {
  .appointment__column-form {
    width: 80%;
  }
}
@media (max-width: 47.99875em) {
  .appointment__column-form {
    width: 100%;
  }
}
.appointment__form {
  position: relative;
  z-index: 5;
  background-color: #5d62b5;
  border-radius: 40px;
  padding: 12.9914529915% 9.7435897436%;
  box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.24), 0px 16px 24px rgba(38, 38, 38, 0.2);
}
.appointment__info {
  padding: 0px 0px 0px 30px;
  position: relative;
  z-index: 5;
  flex: 0 1 42.29%;
}
@media (max-width: 61.99875em) {
  .appointment__info {
    padding-top: 20px;
  }
}
.appointment__bg-ibg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.block-form__title {
  font-weight: 900;
  line-height: 42px;
  color: #fff;
  text-align: center;
}
@media (min-width: 65.625em) {
  .block-form__title {
    font-size: 2.25rem;
  }
}
@media (min-width: 20em) and (max-width: 65.625em) {
  .block-form__title {
    font-size: clamp( 1.625rem , 1.3510273973rem  +  1.3698630137vw , 2.25rem );
  }
}
@media (max-width: 20em) {
  .block-form__title {
    font-size: 1.625rem;
  }
}
.block-form__title:not(:last-child) {
  margin: 0px 0px 48px 0px;
}
.block-form__body {
  display: flex;
  flex-direction: column;
}
.block-form__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 22px;
  justify-content: center;
}
@media (max-width: 47.99875em) {
  .block-form__items {
    grid-template-columns: repeat(1, 1fr);
  }
}
.block-form__items:not(:last-child) {
  margin: 0px 0px 22px 0px;
}
.block-form__input {
  width: 100%;
  padding: 16px 17px;
  background-color: #5d62b5;
  border: 2px solid #ffffff;
  border-radius: 10px;
  color: #fff;
}
.block-form__input._form-focus {
  border: 2px solid #f2726f;
  outline: none;
  box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.562), 0px 16px 24px rgba(38, 38, 38, 0.2);
}
.block-form__input::placeholder {
  color: rgba(255, 255, 255, 0.801);
}
.block-form__item .select__title {
  background-color: #5d62b5;
  border: 2px solid #ffffff;
  border-radius: 10px;
}
.block-form__item .select__value {
  position: relative;
  padding: 0px 16px;
  flex: 1 1 100%;
  justify-content: flex-end;
  height: 50px;
  color: rgba(255, 255, 255, 0.801);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
}
.block-form__item .select__value::before {
  top: 18px;
  right: 15px;
}
.block-form__item .select__options {
  border: 2px solid #ffffff;
  background-color: #5d62b5;
  color: #fff;
}
.block-form__item .select__option {
  padding: 10px 15px;
}
.block-form__item .select__option:not(:last-child) {
  border-bottom: 1px solid #fff;
}
.block-form__textarea {
  min-height: 180px;
  padding: 16px 24px;
  background-color: #5d62b5;
  border: 2px solid #ffffff;
  border-radius: 10px;
  resize: none;
  color: #fff;
}
.block-form__textarea._form-focus {
  border: 2px solid #f2726f;
  outline: none;
  box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.562), 0px 16px 24px rgba(38, 38, 38, 0.2);
}
.block-form__textarea::placeholder {
  color: rgba(255, 255, 255, 0.801);
}
.block-form__textarea:not(:last-child) {
  margin: 0px 0px 30px 0px;
}
.block-form__btn {
  align-self: flex-end;
}
@media (max-width: 47.99875em) {
  .block-form__btn {
    align-self: center;
  }
}

.block-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-weight: 900;
  transform: translate(0, 30%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.block-info._active {
  transform: translate(0, 0);
  opacity: 1;
}
.block-info__title {
  line-height: 1.2;
}
@media (min-width: 65.625em) {
  .block-info__title {
    font-size: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 65.625em) {
  .block-info__title {
    font-size: clamp( 1.25rem , 0.9760273973rem  +  1.3698630137vw , 1.875rem );
  }
}
@media (max-width: 20em) {
  .block-info__title {
    font-size: 1.25rem;
  }
}
.block-info__number {
  line-height: 1.7;
}
@media (min-width: 65.625em) {
  .block-info__number {
    font-size: 6rem;
  }
}
@media (min-width: 20em) and (max-width: 65.625em) {
  .block-info__number {
    font-size: clamp( 4.125rem , 3.3030821918rem  +  4.1095890411vw , 6rem );
  }
}
@media (max-width: 20em) {
  .block-info__number {
    font-size: 4.125rem;
  }
}
.block-info__text {
  font-size: 19px;
  line-height: 1.36;
}

.gallery__section {
  border-radius: 40px;
  background-color: #5d62b5;
  padding: 9.5238095238% 5.9047619048% 0px 10.6666666667%;
}
@media (max-width: 47.99875em) {
  .gallery__section {
    padding: 30px 15px;
  }
}
.gallery__header:not(:last-child) {
  margin: 0px 0px 5.2380952381% 0px;
}
.customers {
  background: url("../img/customers/decor1.png") -400px -900px no-repeat;
}
@media (max-width: 47.99875em) {
  .customers {
    background: none;
  }
}
.customers__container {
  display: flex;
}
@media (max-width: 61.99875em) {
  .customers__container {
    flex-direction: column;
  }
}
.customers__header {
  flex: 1 0 324px;
  margin: 0px 24px 0px 0px;
}
@media (max-width: 61.99875em) {
  .customers__header {
    flex: none;
  }
}
.block-person {
  display: flex;
}
@media (max-width: 47.99875em) {
  .block-person {
    flex-direction: column;
  }
}
.block-person__column {
  flex: 0 1 50%;
}
.block-person__body {
  padding: 50px 45px 40px;
  display: flex;
  flex-direction: column;
}
.block-person__text {
  flex: 1 1 auto;
  line-height: 1.5;
  /* or 150% */
  letter-spacing: 0.15px;
}
.block-person__text:not(:last-child) {
  margin: 0px 0px 20px 0px;
}
.block-person__user {
  display: flex;
  align-items: center;
}
.block-person__img img {
  border-radius: 50%;
}
.block-person__img:not(:last-child) {
  margin: 0px 17px 0px 0px;
}
.block-person__name {
  line-height: 1.5;
  font-weight: 700;
  color: #f2726f;
  letter-spacing: 0.15px;
}

.impact {
  position: relative;
  background: #29c3be url("../img/impact/decor.png") top 0 right -10%/62% auto no-repeat;
}
@media (max-width: 47.99875em) {
  .impact {
    background: #29c3be url("../img/impact/decor.png") top 0 right 50%/100% auto no-repeat;
  }
}
.impact_img {
  z-index: 2;
  margin: -80px 0px 0px 0px;
}
.impact_img img {
  position: relative;
  z-index: 3;
  border-radius: 40px;
  max-width: 100%;
}
.impact__container {
  position: relative;
  z-index: 2;
}
.impact__top {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 47.99875em) {
  .impact__top {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
}
.impact__top:not(:last-child) {
  margin: 0px 0px 7.1428571429% 0px;
}
.impact__header {
  max-width: 411px;
  padding: 112px 0px 0px 0px;
}
@media (max-width: 47.99875em) {
  .impact__header {
    padding: 40px 0px 0px 0px;
  }
}
.impact__body {
  padding: 0px 0px 20.1904761905% 0px;
}

.item-impact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 30px;
}
.item-impact__box {
  flex: 0 1 25%;
  padding: 0px 40px 0px 0px;
}
@media (max-width: 61.99875em) {
  .item-impact__box {
    flex: 0 1 50%;
  }
}
@media (max-width: 35em) {
  .item-impact__box {
    flex: 0 1 100%;
  }
  .item-impact__box:last-child {
    padding: 0px 0px 30px 0px;
  }
}
.item-impact__column {
  display: flex;
  justify-content: center;
}
.item-impact__pict:not(:last-child) {
  margin: 0px 11px 0px 0px;
}
.item-impact__title {
  font-weight: 900;
  line-height: 42px;
  color: #fff;
}
@media (min-width: 65.625em) {
  .item-impact__title {
    font-size: 2.1875rem;
  }
}
@media (min-width: 20em) and (max-width: 65.625em) {
  .item-impact__title {
    font-size: clamp( 1.625rem , 1.3784246575rem  +  1.2328767123vw , 2.1875rem );
  }
}
@media (max-width: 20em) {
  .item-impact__title {
    font-size: 1.625rem;
  }
}
.item-impact__text {
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.15px;
  color: #5d62b5;
}
